Заявка на обратный звонок
===============================================
 
Заявка на вызов специалиста
Имя: <%= @name %>
Телефон: <%= @phone %>
Город: <%= @city %>
Почта: <%= @email %>
Сообщение: <%= @message %>