<div class="central-block">
	<h1 style="margin-top: 50px;"><%= @pagetitle %></h1>
	<div class="left-column">
		<%= AddText.where(label: 'contacts')[0].txt.html_safe %>

		<span class="label">Написать нам</span>
		<% if @errors && @errors.size != 0 %>
			<ul class="errors">
				<% @errors.each do |e| %>
					<li><%= e %></li>
				<% end %>
			</ul>
		<% end %>
		<%= form_tag do %>
			<fieldset>
				<label style="width: 94px;display: inline-block">Email:</label>
				<%= text_field_tag :email, params[:email],:style => "width: 268px" %>
			</fieldset>
			<fieldset>
				<label style="width: 94px;display: inline-block; position: relative; top: -75px;" for="message">Сообщение:</label>
				<%= text_area_tag :message, params[:message], :style => "width: 268px; height: 80px;" %>
			</fieldset>
			<input type="submit" name="send_mail" value="Отправить">
		<% end %>
	</div>
	<div class="right-column">
		<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=4xIDqBbGJxudMXo3Id0hN9vEKrdNaXe8&width=423&height=500"></script>
	</div>
	<div class="clear"></div>
</div>
<div class="news news-main" style="height: 29px;margin-bottom: 50px; margin-top: 50px;"></div>

<% if @success && @success == 1 %>
<script type="text/javascript">
		jQuery(document).ready(function(){
						openform('success-form', 50, 285);
						jQuery("#email").empty();
						jQuery("#message").empty();
		});
		</script>
<% end %>