		<div class="page-bg-full" style="height: 244px;">
			<div class="central-block">
				<ul class="list-with-img">
					<li style="background: url(<%= image_path('1.png') %>) no-repeat">
						<div>Качество</div>
						<div>
							Все наши кованные изделия изготавливаются мастерами имеющими за плечами многолетний опыт кузнецкого мастерства. 
						</div>
					</li>
					<li style="background: url(<%= image_path('2.png') %>) no-repeat">
						<div>Широкие<br />возможности</div>
						<div>
							Возможности художественно ковки по-настоящему широки. Вас ограничивает только Ваша фантазия. 
						</div>
					</li>
					<li style="background: url(<%= image_path('3.png') %>) no-repeat">
						<div>Надежность</div>
						<div>
							Кованные изделия будут служить не только Вам, но и Вашим детям. На все наши изделия мы даем гарантию не менее 5 лет.
						</div>
					</li>
					<li style="background: url(<%= image_path('4.png') %>) no-repeat">
						<div>Эксклюзивность</div>
						<div>
							Мы гарантируем вам, что Вы будете единственным обладателем изготовленного для Вас кованного изделия. 
						</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>