<div class="central-block">
	<h1><%= @pagetitle %></h1>
	<div class="news-block news-block-inner">
	<% @news.each do |n| %>
							<div class="news-item">
								<span class="date"><%= n.created_at.strftime('%Y.%m.%d') %></span>
								<a href="/news/<%= n.id %>"><img src="<%= n.image.url(:thumb) %>"></a>
								<a href="/news/<%= n.id %>"><span class="name">
									<%= n.name %>
								</span></a>
								<a href="/news/<%= n.id %>"><span class="intro">
									<%= n.intro.html_safe %>
								</span></a>
							</div>	
	<% end %>
	</div>
</div>
<div class="clear"></div>
<div class="wrapper">
	<%= will_paginate @news %>
</div>
<div class="clear"></div>
<div class="news news-main" style="height: 29px;margin-bottom: 50px; margin-top: 50px;"></div>