<div class="central-block">
	<h1 style="margin-top: 50px; margin-bottom: 20px;"><%= @pagetitle %></h1>
	<div class="txt">
		<%= @content.html_safe %>
	</div>
</div>
<div class="news news-main" style="height: 324px;margin-bottom: 50px; margin-top: 50px;">
	<div class="central-block" style="text-align: center;">
		<%= image_tag AddText.where(label: 'panorama')[0].image.url(), :style=>" margin-top: 60px;" %>
	</div>
</div>