<div class="central-block">
	<h1 style="margin-top: 50px;"><%= @pagetitle %></h1>
	<div class="vacancys">
		<% @vacancys.each do |v| %>
				<div class="vacancy-block">
					<div class="vacancy-name">
						<%= v.title %>
						<span><%= v.city %></span>
					</div>
					<div class="vacancy-info">
						<span>Требования</span>
						<%= v.req %>
					</div>
					<div class="vacancy-info">
						<span>Зарплата</span>
						<%= v.price %>
					</div>
					<span class="clear" style="display: block"></span>
				</div>
		<% end %>
	</div>
</div>
<div class="clear"></div>
<div class="news news-main" style="height: 329px;margin-bottom: 50px">
	<div class="central-block">
		<%= image_tag 'handshake.png', :style => "float: left;margin-left: 45px;margin-top: 50px;"%>
		<div class="vacancy-panel">
			<span>Условия:</span>
			<%= AddText.where(label: 'req')[0].txt.html_safe %>
		</div>
		<div class="clear"></div>
	</div>
</div>