
<div class="central-block">
<h1 style="margin-top: 50px; margin-bottom: 20px;"><%= @pagetitle %></h1>
<ul class="works">
<% @albums.each do |a| %>
						<li>
							<%= link_to (image_tag a.image.url(:thumb)), a.image.url, :rel => "lightbox", :title => sanitize(a.intro, :tags=>[]) %><br />
							<%= link_to a.title, a.image.url, :rel => "lightbox", :title => sanitize(a.intro, :tags=>[]) %>
						</li>
<% end %>
</ul>
<div class="clear"></div>
<div class="wrapper" style="margin-bottom: 20px;">
	<%= will_paginate @albums %>
</div>

<div class="txt">
	<%= AddText.where(label: 'text_in_works')[0].txt.html_safe if !AddText.where(label: 'text_in_works').blank? %>
</div>
</div>