html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Tahoma;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page{
    min-height: 100%;
    margin-bottom: -352px;
}
* html .page {
    height: 100%;
}
.page-buffer {
    height: 351px;
}
.footer {
	height: 307px;
}

.header {
    height: 364px;
    background: url( asset-path('headerbg.png') );
}

.central-block {
    width: 1023px;
    margin: 0 auto;
}

.page-bg-full {
    width: 100%;
    background: #f5f3f2;

}

.clear {
    clear: both;
}

.logo {
    display: block;
    float: left;
    margin-left: 36px;
    margin-top: 26px;
    margin-right: 20px;
}

.slogan {
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
    display: block;
    float: left;
}

.main-menu {
    list-style-type: none;
    float: right;
    margin-right: 39px;
}

.main-menu li {
    float: left;
    margin-left: 10px;
    padding-top: 23px;
}

.main-menu li:hover {
    border-top: 5px solid #fff;
    padding-top: 18px;
}

.main-menu li a {
    font-family: Tahoma;
    font-size: 9px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 2px 8px 2px 8px;
}

.main-menu li a:hover {
    color: #000;
    display: block;
    padding: 2px 8px 2px 8px;
    background: #fff;
}

.main-menu li.active {
    border-top: 5px solid #fff;
    padding-top: 18px;
}

.main-menu li.active a {
    color: #000;
    display: block;
    padding: 2px 8px 2px 8px;
    background: #fff;
}

.phone {
    float: right;
    margin-top: -40px;
    margin-right: 39px;
}

.phone-code {
    font-family: Tahoma;
    font-size: 30px;
    color: white;
    float: left;
    margin-right: 8px;
    opacity: 0.45;
}

.phone-number {
    font-family: Tahoma;
    font-size: 30px;
    float: left;
    color: white;
}

.header-address {
    float: right;
    font-family: Tahoma;
    font-size: 12px;
    opacity: 0.57;
    color: white;
    margin-right: 305px;
    margin-top: -36px;
    text-align: right;
}

.content-block {
    height: 100%;
    background: white;
}

.page-header {
    height: 130px;
    background: #f9f9f8;
}

.page-block {
    /*margin-top: -289px;*/
}

.submenu {
    list-style-type: none;
    display: block;
    margin: 0 63px;
    text-align: center;
}

.submenu li {
    display: inline-block;
    margin-left: 7px;
}

.submenu li a {
    font-weight: bold;
    font-size: 11px;
    color: #646464;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 13px;
    padding-right: 13px;
    display: block;
}

.submenu li a:hover {
    padding-top: 46px;
    padding-bottom: 46px;
    display: block;
    background: #e9e8e5;
}

.submenu li.active a {
    background: #a9a296;
}

.list-with-img {
    list-style-type: none;
    padding-top: 20px;
    margin-left: 2px;
}

.list-with-img li {
    float: left;
    width: 140px;
    padding-left: 60px;
    padding-top: 20px;
    margin-left: 42px;
}

.list-with-img li div:first-child {
   font-size: 15px;
   font-weight: bold;
   color: #8b8376;
   margin-bottom: 15px;
}

.list-with-img li div:last-child {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 20px;
}

h1 {
    font-size: 20px;
    color: #646464;
    display: block;
    text-align: center;
    font-weight: bold;
}

.txt {
    font-family: Tahoma;
    font-size: 13px;
    color: #7f7f7f;
    padding-right: 45px;
    padding-left: 45px; 
    margin-bottom: 20px;
}

table {
    border: 2px solid white;
    width: 845px;
    margin-right: 69px;
    margin-left: 65px;
    margin-top: 45px;
}

th {
    /*background: #c7cacf;*/
    font-family: Tahoma;
    font-size: 14px;
    color: #fefefe;
    height: 47px;
    vertical-align: middle;
    text-align: center;
}

td {
    /*background: #eeeeef;*/
    font-family: Tahoma;
    font-size: 14px;
    color: #a8adb6;
    height: 47px;
    vertical-align: middle;
    text-align: center;
}

tr td:first-child {
    /*background: #e8e9eb;*/
}

.news {
    width: 100%;
}

.news-main {
    background: #a9a296;
}

.news-block {
    margin-left: 8px;
}

.news-item {
    float: left;
    width: 234px;
    margin-left: 84px;
    margin-bottom: 68px;
}

.news-item a {
    text-decoration: none;
}

.date, .name, .intro {
    display: block;
    width: 230px;
}

.date {
    font-family: Tahoma;
    font-size: 11px;
    color: #fff;
    margin-bottom: 15px;
}

.name {
    font-family: Tahoma;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro {
    font-family: Tahoma;
    font-size: 13px;
    color: #fff;
}

.panorama {
    margin-left: 68px;
    margin-bottom: 73px;
}

.main-menu-footer {
    float: none;
    margin-left: 40px;
}

.main-menu-footer li {
    padding-top: 12px;
}

.main-menu-footer a {
    color: #aba497 !important;
}

.main-menu-footer li:hover, .main-menu-footer li.active {
    border-top: 5px solid #655f54;
    padding-top: 7px;
}

.main-menu-footer li a:hover, .main-menu-footer li.active a {
    background: none;
    color: #8e877b !important;
}

.submenu-footer  {
    opacity: 0.44;
    padding-top: 12px; 
    list-style-type: none;
    float: left;
    margin-left: 40px;
}

.submenu-footer li {
    float: left;
    margin-left: 10px;
}

.submenu-footer li a {
    font-family: Tahoma;
    font-size: 9px;
    color: #aba497;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 2px 8px 2px 8px;
}

.hr {
    height: 0px;
    width: 100%;
    border-top: 1px solid #585961;
    border-bottom: 1px solid #45474f; 
    margin-top: 31px;
    margin-bottom: 31px;
}

.map {
    width: 392px;
    height: 125px;
    margin-top: 42px;
    float: left;
    margin-left: 60px;
    border: 5px solid #fff;
        -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);

}

.footer-text {
    font-family: Tahoma;
    font-size: 13px;
    color: #737373;
    float: left;
    margin-left: 35px;
    width: 437px;
    margin-top: 42px;
}

.copy {
    font-family: Tahoma;
    font-size: 10px;
    color: #a0a0a0;
    margin-top: 27px;
    margin-left: 60px;
} 

.copy a {
    font-family: Tahoma;
    font-size: 10px;
    color: #a0a0a0; 
    text-decoration: underline;
}

.breadcrumbs {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 45px;
}

.breadcrumbs li {
    float: left;
    font-size: 12px;
    color: #bababa;
    font-weight: bold;
    margin-right: 10px;
}

.breadcrumbs li a {
    font-size: 12px;
    color: #bababa;
    text-decoration: underline;
}

.breadcrumbs li.devider {
  background: url( asset-path('bc_devider.png') ); 
  width: 3px;
  height: 6px; 
  margin-top: 5px;
}

.works {
    list-style-type: none;
    margin-left: 68px;
}

.works li {
    display: inline-table;
    text-align: center;
    width: 190px;
    margin-right: 37px;
    margin-bottom: 60px;
}

.works li img {
    border: 5px solid white;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
}

.works li a:last-child {
    color: #777065;
    font-size: 13px;
    font-weight: bold;
    margin-top: 7px;
}


.pagination {
    list-style-type: none;
    display: inline-block;
    margin-top: 28px;
}

em.current, .pagination a {
    font-family: Tahoma;
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-style: normal;
}

.pagination a {
    width: 32px;
    height: 31px;
    background: url( asset-path('pager_non_active.png') ) no-repeat;
}

em.current {
    width: 32px;
    height: 31px;
    color: white;
    background: url( asset-path('pager_active.png') ) no-repeat;
}

.previous_page, .next_page {
    display: none !important;
}
/*------------------------------------*/
.pager {
    list-style-type: none;
    display: inline-block;
    margin-top: 28px;
}

.pager li {
    float: left;
}

.pager li, .pager a {
    font-family: Tahoma;
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.pager a {
    width: 32px;
    height: 31px;
    background: url( asset-path('pager_non_active.png') ) no-repeat;
}

.pager .active {
        width: 32px;
    height: 31px;
    color: white;
    background: url( asset-path('pager_active.png') ) no-repeat;
}
/*------------------------------------*/
.wrapper {
    text-align: center;
}

.news-page {
    margin-top: 29px;
    margin-bottom: 0;
}

.news-page .news-item {
    display: inline-block;
}

.news-page .news-item:nth-child(3n) {
    border-left: 1px solid #eaeae2;
}

.news-page .news-item:nth-child(3n-2) {
    border-right: 1px solid #eaeae2;
}

.news-page .news-item:first-child, .news-page .news-item:nth-child(2), .news-page .news-item:nth-child(3) {
    border: none;
    border-top: 1px solid #eaeae2;
    border-bottom: 1px solid #eaeae2;
}

.news-page .news-item:nth-child(2) {
    border-left: 1px solid #eaeae2;
    border-right: 1px solid #eaeae2;
}

.news-page .news-item:last-child {
    border-top: none;
}

.news-page .news-item {
    border-bottom: 1px solid #eaeae2;
}

.news-pager {
    margin-bottom: 20px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 26px;
}

.mail-form, .success-form, .vacancy-form {
    height: 590px;
    width: 500px;
    position: absolute;
    top: 0;left:0;
    background: #ffffff;
    z-index: 99999;
    display: none;
}

.success-form {
    height: 100px;
    font-family: Tahoma;
    font-size: 16px;
    color: #9c9c9c;
    text-align: center;
}

.vacancy-form {
    height: 260px;
}

.mail-form label, .vacancy-form label {
    font-family: Tahoma;
    font-size: 14px;
    color: #9c9c9c;
    margin-left: 44px;
    width: 100px;
}

.mail-form input, .mail-form textarea, .mail-form a.send-btn, .vacancy-form input, .vacancy-form a.send-btn {
    float: right;
    margin-right: 52px;
}

.mail-form input[type=text], .vacancy-form input[type=text] {
    width: 293px;
    height: 27px;
    border: 1px solid #9c9c9c;
}

.mail-form textarea {
    width: 293px;
    height: 160px;
    border: 1px solid #9c9c9c;
}

.close-form {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.send-btn {
    margin-top: 26px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    z-index: 9000;
    width: 100%;
    height: 100%;
    display: none;
    display: none;
}

.errors {
    font-family: Tahoma;
    font-size: 14px;
    color: red;
    margin-top: 30px;
    margin-left: 30px;
}

.sitemap {
    list-style-type: none;
    margin-left: 69px;
}

.sitemap ul {
    list-style-type: none;
    margin-left: 20px;
}

.sitemap-link {
    font-family: Tahoma;
    font-size: 13px;
    color: #4c5f7c;
}

.vacancys {
    margin-left: 45px;
}

.vacancy-block {
    border-bottom: 2px solid #d0cdc6;
    padding-bottom: 27px;
    padding-top: 27px;
}

.vacancy-block:last-child {
    border-bottom: none;
}

.vacancy-block div {
    float: left;
}

.vacancy-name {
    color: #a9a296;
    font-size: 25px;
    font-weight: bold;
    width: 497px;
}

.vacancy-name span {
    display: block;
    color: #7f7f7f;
    font-size: 13px;

}

.vacancy-info {
    display: block;
    color: #7f7f7f;
    font-size: 13px;
    border-left: 1px solid #7f7f7f;
    width: 220px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.vacancy-info span {
    display: block;
    color: #7f7f7f;
    font-size: 13px;
    font-weight: bold;
    margin-top: 7px;
}

.vacancy-panel {
    float: left;
    margin-left: 63px;
    color: #fff;
    font-size: 13px;
    width: 694px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.vacancy-panel span {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    display: block;
}

.left-column, .right-column {
    float: left;
    font-size: 13px;
    color: #7f7f7f;
}

.left-column {
    width: 400px;
    margin-left: 45px;
}

.right-column {
    width: 548px;
    margin-left: 30px;
}

.label {
    font-weight: bold;
    font-size: 13px;
    color: #7f7f7f;
    margin-top: 30px;
    display: block;
}

input[type=submit] {
    float: right;
    margin-right: 27px;
    margin-top: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 13px;
    background: #a9a296;
    border: none;
}

.news-block-inner * {
    color: #777065 !important;
}

.get-specialist {
    background: url( asset-path('get_specialist.png') );
    width: 50px;
    height: 207px;
    position: fixed;
    top: 20%;
    right: -20px;
}
