<div class="mail-form">
	<a href="#" class="close-form"><img src="<%= image_path('close-form.png') %>" /></a>
	<% if getcall.errors.any? %>
	<ul class="errors">
	  <% getcall.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	<% end %>
	<div class="clear"></div>
	<%= form_for getcall, url: '' do |f| %>
		<fieldset>
			<label>Как ваз зовут?*</label>
			<%= f.text_field :name %>
		</fieldset>
		<fieldset>
			<label>Город*</label>
			<%= f.text_field :city %>
		</fieldset>
		<fieldset>
			<label>Телефон*</label>
			<%= f.text_field :phone %>
		</fieldset>
		<fieldset>
			<label>Email*</label>
			<%= f.text_field :email %>
		</fieldset>
		<fieldset>
			<label>Сообщение</label>
			<%= f.text_area :message %>
		</fieldset>
		<a href="#" class="send-btn" onclick="jQuery(this).parent().submit()"><img src="<%= image_path('send-btn.png') %>"></a>
	<% end %>
</div>
<% if params[:getcall] %>
	<% if getcall.errors.any? %>
		<script type="text/javascript">
			openform('mail-form', 285, 285);
		</script>
	<% else %>
		<script type="text/javascript">
			openform('success-form', 50, 285);
		</script>
	<% end %>
<% end %>
