<div class="news news-main">
<h1 style="color: white; padding-top:25px;padding-bottom:25px;margin:0">НОВОСТИ</h1>
<div class="central-block">
<div class="news-block">
	<% @news_widget.each do |n| %>
							<div class="news-item">
								<span class="date"><%= n.created_at.strftime('%Y.%m.%d') %></span>
								<a href="/news/<%= n.id %>"><img src="<%= n.image.url(:thumb) %>"></a>
								<a href="/news/<%= n.id %>"><span class="name">
									<%= n.name %>
								</span></a>
								<a href="/news/<%= n.id %>"><span class="intro">
									<%= n.intro.html_safe %>
								</span></a>
							</div>	
	<% end %>

</div>
</div>
<div class="clear"></div>
</div>