<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	 <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @keywords %>" />
  <meta name="description" content="<%= @description %>" />
  <meta name='yandex-verification' content='6909fbb19081ff49' />
</head>
<body>
	<a href="#" class="get-specialist"></a>
	<div class="page">
		<div class="header">
			<div class="central-block">
				<a class="logo" href="/"><img src="<%= image_path('logo.png') %>"></a>
				<span class="slogan">
					Эксклюзивная<br />художественная ковка
				</span>
				<ul class="main-menu">
						<%= is_current_textpage('site', 'textpage', 'about', '/about', 'О НАС').html_safe %>
						<%= is_current('site', 'works', nil, '/works', 'ПРОДУКЦИЯ').html_safe %>
						<%= is_current_textpage('site', 'textpage', 'color', '/color', 'ОКРАСКА').html_safe %>
						<%= is_current('site', 'news', nil, '/news', 'НОВОСТИ').html_safe %>
						<%= is_current('site', 'vacancy', nil, '/vacancys', 'ВАКАНСИИ').html_safe %>
						<%= is_current('site', 'contacts', nil, '/contacts', 'КОНТАКТЫ').html_safe %>
				</ul>
				<div class="clear"></div>
				<div class="phone">
				    <div class="phone-number">+7</div>
					<div class="phone-code">(910)</div>
					<div class="phone-number">590-26-26</div>
				</div>
				<div class="header-address">
					г.Обнинск<br />
					ул. Кабицынская, 10
				</div>
				<div class="clear"></div>
				<div style="position: relative; top: 39px;">
							<a href="#" style="float:left;" id="slider_prev"><img src="<%= image_path('image_prev.png')%>"></a>
							<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 980px;height: 221px;float: left;">
						        <!-- Loading Screen -->
						        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
						            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
						                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
						            </div>
						            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
						                top: 0px; left: 0px;width: 100%;height:100%;">
						            </div>
						        </div>

						        <!-- Slides Container -->
						        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 980px; height: 221px;
						            overflow: hidden;margin-top: 0px;margin-left: 0px;">
						            <% @slider.each do |s| %>
						            	<div><img u="image" src="<%= s.image.url(:thumb) %>" /></div>
						            <% end %>
						        </div>
						        
						        <!-- Bullet Navigator Skin Begin -->
						        <style>
						            /*
						            .jssorb09 div           (normal)
						            .jssorb09 div:hover     (normal mouseover)
						            .jssorb09 .av           (active)
						            .jssorb09 .av:hover     (active mouseover)
						            .jssorb09 .dn           (mousedown)
						            */
						            .jssorb09 div, .jssorb09 div:hover, .jssorb09 .av
						            {
						                overflow:hidden;
						                cursor: pointer;
						            }
						            .jssorb09 div { background-color: #bfbfc0; }
						            .jssorb09 div:hover, .jssorb09 .av:hover { background-color: #272830; }
						            .jssorb09 .av { background-color: #272830; }
						            .jssorb09 .dn, .jssorb09 .dn:hover { background-color: #bfbfc0; }
						        </style>
						        <!-- bullet navigator container -->
						        <!-- Bullet Navigator Skin End -->
						        <a style="display: none" href="http://www.jssor.com">jquery photo gallery</a>
						    </div>
						    <a href="#" style="float:left;" id="slider_next"><img src="<%= image_path('image_next.png')%>"></a>
				</div>
				<div class="clear"></div>
		    <!-- Jssor Slider End -->
			</div>
		</div>
		<div class="central-block content-block">
			
		    <div class="page-block">
				   	<ul class="submenu">
				   		<% Category.all.each do |c| %>
				   			<%= is_current_textpage('site', 'works', c.alias, '/works/'+c.alias, c.name).html_safe %>
				   		<% end %>
					</ul>
					<div class="clear"></div>
		    </div>
		</div>
		<% if controller.controller_name == 'site' && controller.action_name != 'index' %>
		<div class="page-bg-full" style="height: 35px;">
			<div class="central-block">
				<ul class="breadcrumbs">
					<%= render_breadcrumbs :tag => :li, :separator => '<li class="devider"></li>' %>
					<!--<li><a href="#">Ссылка</a></li>
					<li class="devider"></li>
					<li>Ссылка</li>-->
				</ul>
			</div>
		</div>
		<% end %>
		<%= yield %>
		<% if controller.action_name != 'works' %>
		<div class="central-block content-block">
			<h1 style="margin-bottom: 40px;">ПОСЛЕДНИЕ РАБОТЫ</h1>
			<ul class="works">
				<% @resent_works.each do |a| %>
					<li>
						<%= link_to (image_tag a.image.url(:thumb)), a.image.url, :rel => "lightbox", :title => sanitize(a.intro, :tags=>[]) %><br />
						<%= link_to a.title, a.image.url, :rel => "lightbox", :title => sanitize(a.intro, :tags=>[]) %>
					</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="clear"></div>
		<% if controller.action_name == 'index' ||  controller.action_name == 'works' %>
			<%= render :partial => "layouts/news_partial", :locals => { :news => @news_widget }  %>
		<% end %>
		<div class="page-buffer"></div>
	</div>
	<div class="footer">
			<div class="page-bg-full" style="height: 70px;">
				<div class="central-block">
					<ul class="main-menu main-menu-footer">
						<%= is_current_textpage('site', 'textpage', 'about', '/about', 'О НАС').html_safe %>
						<%= is_current('site', 'works', nil, '/works', 'ПРОДУКЦИЯ').html_safe %>
						<%= is_current_textpage('site', 'textpage', 'color', '/color', 'ОКРАСКА').html_safe %>
						<%= is_current('site', 'news', nil, '/news', 'НОВОСТИ').html_safe %>
						<%= is_current('site', 'vacancy', nil, '/vacancys', 'ВАКАНСИИ').html_safe %>
						<%= is_current('site', 'contacts', nil, '/contacts', 'КОНТАКТЫ').html_safe %>
					</ul>
					<div class="clear"></div>
					<ul class="submenu-footer">
						<% Category.all.each do |c| %>
				   			<%= is_current_textpage('site', 'works', c.alias, '/works/'+c.alias, c.name).html_safe %>
				   		<% end %>
					</ul>
					<div class="clear"></div>
				</div>
			</div>

			<div class="central-block">
				<div class="map">
					<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=KnHmi31k0aONuzVYlUU65Y5M84bC2wP0&width=392&height=125"></script>
				</div>
				<div class="footer-text">
					<%= AddText.where(label: 'footer_text')[0].txt.html_safe %>
				</div>
				<div class="clear"></div>

				<div class="copy">
					Сделано в <a href="#">Link Studio</a>
				</div>
			</div>
	</div>
	<div class="overlay"></div>
<%= render :partial => "layouts/success_partial", :locals => { :getcall => @getcall } %>
<%= render :partial => "layouts/mail_partial", :locals => { :getcall => @getcall } %>
  <script>

        jQuery(document).ready(function ($) {
            var options = {
            	$AutoPlay: true,
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                  //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10,                                  //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            jQuery("#slider_prev").bind('click', function(){
            	jssor_slider1.$Prev();
            });
            jQuery("#slider_next").bind('click', function(){
            	jssor_slider1.$Next();
            });
        });
    </script>
</body>
</html>